/* This file is purely to override the default css provided by antd with our own custom css */

.ant-input-search-button {
  background-color: var(--color-primary) !important;
  color: white !important;
  height: 44px !important;
}
.ant-input-search-button:hover {
  background-color: var(--brightorange-6) !important;
}
.ant-btn-color-primary svg {
  vertical-align: initial;
}
.ant-pagination-item {
  background-color: var(--brightorange-6) !important;
  color: white !important;
  border: 1px solid var(--brightorange-6) !important;
}
.ant-pagination-item:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}
.ant-pagination-item-active {
  background-color: var(--color-primary) !important;
  color: white !important;
  border: 1px solid var(--color-primary) !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-item a {
  color: white !important;
}
.ant-select-selector {
  border: 1px solid var(--neutral-5) !important;
}
.ant-dropdown-menu-item-selected {
  background-color: var(--brightorange-6) !important;
  color: white !important;
}
.ant-input-outlined:focus {
  border: 1px solid var(--color-primary) !important;
}
.ant-input-outlined:hover {
  border: 1px solid var(--color-primary) !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 0 2px var(--color-primary-focus) !important;
}

.ant-menu-item-selected {
  background-color: var(--fieryorange-1) !important;
  color: var(--fieryorange-6) !important;
}

.custom-checkbox .ant-checkbox-inner {
  border-color: var(--color-primary);
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.custom-radio .ant-radio-inner {
  border-color: var(--color-primary);
}

.custom-radio .ant-radio-checked .ant-radio-inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.ant-menu-light.ant-menu-inline .ant-menu-item::after {
  border-color: var(--color-primary) !important;
}

.bg-blur {
  backdrop-filter: blur(8px);
}

.clickable-table-row {
  tr:not(:first-child) {
    cursor: pointer;
  }
}

.ant-input-affix-wrapper {
  height: 44px !important;
}

.ant-breadcrumb .anticon {
  font-size: 10px;
}

.ant-select-selection-overflow {
  display: flex !important;
  align-items: center !important;
  height: 100%;
}

.ant-select-multiple .ant-select-selector {
  padding: 0 4px !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.ant-select-multiple .ant-select-selector:hover {
  border: 1px solid var(--color-primary) !important;
}

.ant-select-multiple .ant-select-selector:focus {
  border: 1px solid var(--color-primary) !important;
}

.ant-select .ant-select-selector:hover {
  border: 1px solid var(--color-primary) !important;
}

.ant-select .ant-select-selector:focus {
  border: 1px solid var(--color-primary) !important;
}

.ant-select-selection-wrap {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.ant-select-selection-item {
  cursor: pointer !important;
}

.ant-picker-outlined:focus {
  border: 1px solid var(--color-primary) !important;
}
.ant-picker-focused {
  border: 1px solid var(--color-primary) !important;
}
.ant-picker-outlined:hover {
  border: 1px solid var(--color-primary) !important;
}

.ant-picker-ok > button {
  background-color: var(--color-primary) !important;
  color: white !important;
}
